.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #E2e1DE;
}

.background {
  height: 20%;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: #00A884;
}

.chat-container {
  width: 98%;
  max-width: 1800px;
  height: 95%;
  display: flex;
  position: absolute;
  background-color: #fff;
}

.chat-contacts {
  width: 30%;
  height: 100%;
  border-right: 1px solid #e6e6e6;
}

.chat-options {
  width: 100%;
  height: 80px;
  background-color: #F0F2F5;
}

.chat-item {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
  border-top: 1px solid #F0F2F5;
  border-bottom: 1px solid #F0F2F5;
  cursor: pointer;
}

.title-chat-container {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.image-profile {
  width: 60px;
  height: auto;
  border-radius: 50%;
}

.title-message {
  font-size: 18px;
}

.last-message {
  color: #808080;
}

.chat-messages {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  background-image: url('./assets/images/fundo_zap.png');
}

.chat-messages-area {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.chat-input-area {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  padding: 0 10px;
  background-color: #F0F2F5;
}

.chat-input {
  width: 90%;
  height: 45px;
  border: none;
  border-radius: 8px;
  outline: none;
  box-sizing: border-box;
  padding: 4px;
  font-size: 16px;
  background-color: #fff;
}

.send-message-icon {
  width: 40px;
  height: auto;
  cursor: pointer;
}